.thirdImg{
    padding-left: 5%;
    width: 40%;
    height:100%;
}

.headerBlurbThird{
    background-color: rgb(244, 107, 19);
}

.loginHeader{
    margin: auto;
    color: white;
    font-size: 300%;
}

.loginHeaderResponsive{
    margin: auto;
    color: white;
    font-size: 110%;
}

.challengeBlurbItemThird{
    background-color: rgb(244, 107, 19);
    width: 30%;
    display:block;
}

.challengeBlurbItemThirdTwo{
    background-color: rgb(244, 107, 19);
    width: 30%;
    display:block;
}

.challengeBlurbItemThirdThree{
    width: 70%;
    display:block;
}

.email{
    background-color:rgb(244, 107, 19);
}

ion-item.headerBlurbThird{
    --background: rgb(244, 107, 19) !important;
}

ion-item.challengeBlurbItemThird{
    --background: rgb(244, 107, 19) !important;
}

ion-item.challengeBlurbItemThirdTwo{
    --background: rgb(244, 107, 19) !important;
}

ion-item.challengeBlurbItemThirdThree{
    --background: rgb(8, 25, 44) !important;
}