.fourthImg{
    height:100%;
    right: 0 !important;
}

.fourthImgSecond{
    height:20%;
    position:absolute;
    width: 20%;
    top: 30%;
    left: 8% !important;
}

.headerBlurbFourth{
    background-color: rgb(0, 74, 173);
    color: rgb(246, 194, 47);
}

.headerBlurbFourthList{
    background-color: rgb(0, 74, 173);
    color: rgb(246, 194, 47);
}

.challengeHeaderFour{
    color: rgb(246, 194, 47);
    font-size: 6vh;
    font-weight: 700;
}

.challengeBlurbItemFourth{
    background-color: rgb(244, 107, 19);
    width: 30%;
    right: 10%;
    right:0;
    height: 90vh;
}

ion-item.headerBlurbFourth{
    --background: rgb(0, 74, 173) !important;
}

ion-item.headerBlurbFourthList{
    --background: rgb(0, 74, 173) !important;
}

ion-item.challengeBlurbItemFourth{
    --background: rgb(244, 107, 19) !important;
}


