.thirdImg{
    padding-left: 5%;
    width: 40%;
    height:100%;
}

.headerBlurbThird{
    background-color: rgb(244, 107, 19);
    width: 40%;
    right: 10%;
    position: absolute;
    top: 23%;
    height: 13%;
}

.loginHeader{
    padding-top: 15px;
    margin: auto;
    color: white;
    font-size: 60px;
}

.challengeBlurbItemThird{
    background-color: rgb(244, 107, 19);
    width: 30%;
    right: 15%;
    position: absolute;
    top: 40%;
}

.challengeBlurbItemThirdTwo{
    background-color: rgb(244, 107, 19);
    width: 30%;
    right: 15%;
    position: absolute;
    top: 50%;
}

.challengeBlurbItemThirdThree{
    background-color: rgb(244, 107, 19);
    width: 30%;
    right: 15%;
    position: absolute;
    top: 60%;
}

.email{
    background-color:rgb(244, 107, 19);
}

ion-item.headerBlurbThird{
    --background: rgb(244, 107, 19) !important;
}

ion-item.challengeBlurbItemThird{
    --background: rgb(244, 107, 19) !important;
}

ion-item.challengeBlurbItemThirdTwo{
    --background: rgb(244, 107, 19) !important;
}

ion-item.challengeBlurbItemThirdThree{
    --background: rgb(8, 25, 44) !important;
}