.secondSlidefirstImg{
    position: inherit;
    object-fit: fill;
}

.secondSlidesecondImg{
    height: 15%;
    padding-left: 5%;
    width: 30%;
    bottom:0;
    position:absolute;
}

.secondSlideBackground{
    background-color: rgb(246, 194, 47);
}

.headerBlurb{
    background-color: rgb(8, 25, 44);
}

.challengeHeader{
    color: white;
    font-size: 166%;
}

.challengeBlurbItem{
    background-color: rgb(246, 194, 47);

}

.challengeBlurb{
    color: rgb(67, 43, 80);
    font-weight: 400;
    width:80%;
    font-size: 20px;
    line-height: 1.3
}

.transitionButton2{
    position:absolute;
    bottom: 0;
    background-image: url("/assets/transition_button2.png");
    height:130px;
    width: 100px;
    --ripple-color: transparent;
    --background-hover: transparent;
}

.reversetransitionButton2{
    position:absolute;
    top: 0;
    background-image: url("/assets/reverse_transition_button2.png");
    height:130px;
    width: 100px;
    --ripple-color: transparent;
    --background-hover: transparent;
}

ion-item.headerBlurb{
    --background: rgb(8, 25, 44) !important;
}

ion-item.challengeBlurbItem{
    --background: rgb(246, 194, 47) !important;
}